<a href="/" class="volver-inicio">⬅️ Volver al inicio</a>

<h1>Administracion de productos</h1>

<div class="admin-layout">

  <!-- COLUMNA IZQUIERDA -->
  <div class="admin-panel">

    <form id="form-crear" class="formulario">

      <label>Título
        <input name="titulo" required>
      </label>

      <label>Descripción
        <input name="description">
      </label>

      <label>Precio
        <input name="precio" type="number" step="0.01" required>
      </label>

      <label>Categoría
        <input name="categoria" placeholder="harinas, semillas, etc.">
      </label>

      <label>Código
        <input name="codigo" placeholder="779123456789">
      </label>

      <label>Imagen
        <input name="imagen" placeholder="https://ejemplo.com/imagen.jpg">
      </label>

      <label>Stock
        <input name="stock" type="number" min="0" value="0" required>
      </label>

      <button type="submit">Crear</button>

    </form>

    <h2>Editar producto</h2>

    <form id="form-editar" class="formulario">

      <label>ID del producto
        <input name="id" required>
      </label>

      <label>Nuevo nombre
        <input name="titulo">
      </label>

      <label>Nuevo descripción
        <input name="description">
      </label>

      <label>Nuevo precio
        <input name="precio" type="number" step="0.01">
      </label>

      <label>Nuevo stock
        <input name="stock" type="number" min="0">
      </label>

      <button type="submit">Actualizar</button>

    </form>

  </div>

  <!-- COLUMNA DERECHA -->
  <div class="admin-productos">

    <h2>Buscar producto</h2>

    <input
      type="text"
      id="buscador"
      placeholder="Buscar por nombre o código..."
    >

    <ul id="lista"></ul>

  </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script defer src="/public/js/realtime.js"></script>